- if logged_in? 
  #user-bar-greeting
    Logged in as
    = link_to_current_user :content_method => :email
  #user-bar-action
    (
    =link_to _("Log out"), sessions_path, { :title => "Log out", :method => :delete }
    )
- else
  #user-bar-greeting
    = _("Not logged in")
  #user-bar-action
    = link_to _("Log in"),  new_sessions_path,  { :title => "Log in" }
    = link_to _("Sign up"), new_user_path, { :title => "Create an account"}
