=remote_link _("back"), :url=> project_path(@project), :method=> "get"
%br/
- if projectrole('project.admin')
  =remote_link _("Edit ticket"), :url=> edit_project_ticket_path(@project, @ticket), :method=> :get
  =remote_link _("New ticket"), :url=> new_project_ticket_path(@project), :method=> :get
  = link_to_function _("Delete ticket"), "$('delete_stone').toggle()"
  #delete_stone{:style=>"display:none;"}
    - form_remote_tag :url=> project_ticket_path(@project, @ticket), :method=>:delete, :before => "Element.show('spinner')", :complete=> "Element.hide('spinner')" do
      = submit_tag _("delete")
    = link_to_function _("cancel"), "$('delete_stone').toggle()"
%p
  %label=_("Title:")
  =@ticket.title
%p
  %label=_("Description: ")
  =@ticket.description.gsub("\n", "<br/>")
%p
  %label=_("Responsible: ")
  =User.find(@ticket.responsible_id).email
%p
  %label=_("Urgency:")
  =ticket_urgency(@ticket.urgency)
%p
  %label=_("Severity:")
  =ticket_severity(@ticket.severity)
%p
  %label=_("State: ")
  =ticket_state(@ticket.state)
%br/


#comments
  =render(:partial=>'/project/ticket/comments/index')
%br/
#comment
  - @comment = Comment.new
  =render(:partial=>'/project/ticket/comments/new', :object=> @comment)

=remote_link _("back"), :url=> project_path(@project), :method=> "get"